body {
	background-color: Teal;
}

h1 {
	color: white;
	text-align: center;
}

p {
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
}

.stage {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	align-items: flex-end;
	/*
	transform: rotate(180deg);
	*/
}

.place1 {
	background-color: Aquamarine;
	position: relative;
	height:500px;
	width: 250px;
}

.place2 {
	background-color: LightSeaGreen;
	position: relative;
	height:700px;
	width: 250px;
}

.place3 {
	background-color: Turquoise;
	position: relative;
	height:350px;
	width: 250px;
}

.blank {
	width: 50px;
}

.placeName {
	position: relative;
	top: 90px;
	transform: rotate(90deg);
	color: white;
	font-size:80px;
	font-family:"Helvetica";
}
